<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= login_helper %>
    <!-- login helper is in application_helper.erb -->

    <%= yield %>

    <%= render "shared/nav", location: 'bottom' %>
    <!-- navbar is at app/views/shared/_nav.html.erb -->
    <!-- bottom was referenced at blogs.scss -->

    <%= source_helper("blog") %>

  </body>
</html>
